// @import 'root';

/*
 * #######################
 * #######################
 * #######################
 * Inicio de Media Queries
 * #######################
 * #######################
 * #######################
*/

/* Mobile Styles */
@media only screen and (max-width: 360px) {

    .display-none-mobile {
        display: none;
    }

    .display-block-mobile {
        display: block;
    }

    .menu-principal {

        background-color: rgba(nth($colores, 2), 80%);

        ul {
            li {

                &:hover ul {
                    @include sizes-w(100%);
                }

                ul {
                    li {
                        font-size: 16px;
                    }
                }
            }
        }

        .login {
            display: flex;
            justify-content: inherit;

            .login-avatar {
                font-size: 1.875em; /* 30/16 */
                margin-right: 1.25em; /* 20/16 */
            }
        }
    }

    .body-desaphilip {
        .desaphilip {

            margin-top: 6em;

            .desaphilip-titulo-principal, .desaphilip-bajada, .option-text {
                margin-right: .833332em;
                margin-left: .833332em;
            }

            .desaphilip-titulo-principal {
                font-size: 3rem;
            }

            .desaphilip-bajada {
                font-size: 2.5rem;
                padding-bottom: 0.625em; /* 10/16 */
            }
        }

        footer {

           .footer-content {
                width: 100%;
                margin-top: 0.5em;
                margin-right: 0px;
                margin-left: 0px;

                .btn-footer {
                    width: 9em;

                    .btn-footer-icono{
                        width: 2.1em;
                        height: 2.1em;

                        img {
                            width: 1.5em;
                            padding: 0.1em;
                        }
                    }
                }

                .icono-sombrerero {
                    margin: 0.5em;

                    img {
                        width: 2em;
                    }
                }

                .btn-footer-text {
                    padding-left: 0.9375em;
                    font-size: 1rem;
                }
            }

            #invitarAmigos {

                .modal-content {
                    border-radius: 30px;
                    margin: 30px;

                    .pop-up-footer {
                        border-radius: 20px;
                        padding: 20px;

                        h3 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 3rem;
                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            margin: auto;
                            text-align: center;

                            input {
                                border-radius: 100px;
                                margin: 5px 0px;
                                padding: 6px;
                                text-align: center;
                            }

                            button {
                                width: 10em;
                                border-radius: 100px;
                                margin: 10px auto;
                                padding: 10px;
                            }
                        }
                    }
            }
        }

    #descubrir {

        .modal-dialog {
            max-width: 570px;
            margin: 3rem;

            .modal-content {
                border-radius: 30px;
                position: relative;

                  i.fas.fa-caret-left {
                    position: absolute;
                    color: var(--color-violeta);
                    font-size: 60px;
                    bottom: -28px;
                    right: 0px;
                }

                .pop-up-footer {

                    .slide-content {

                        h4 {
                            font-size: 2rem;
                            margin: 0px;
                        }

                        .desafios-premios {
                            border-radius: 15px;

                            .desafios-premios-content {
                                display: flex;
                                flex-direction: column;

                                .desafios-premios-content-text {
                                    width: 70%;
                                    text-align: center;
                                    margin: 10px;

                                    h5 {
                                        font-size: 2.24rem;
                                        margin: 0px;
                                    }

                                    svg {
                                        width: 6rem;
                                        margin: 0px;
                                    }

                                    p {
                                        font-size: 0.9375em; /* 15/16 */
                                    }
                                }

                                .desafios-premios-content-image {
                                    margin: 10px;

                                    img {
                                        width: 10rem;
                                    }

                                    .premio-completo {
                                        width: 15rem;   
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    }
}

.body-desaphilip-amistad, .body-desaphilip-autenticidad {
        .option-content {
                width: 100%;;

                .btn-option {
                    width: 10em;
                    font-size: 12px;
                    padding: 10px;
                }

                .option-content-btn {
                    margin: 3em auto;
                }
            }

            #pregunta01 {
                .btn-option-image {
                    right: 10px;
                    top: 45px;

                .option-image-object {
                    width: 5em;
                }
            }

                .btn-option-icon {
                    left: 60px;
                    top: 110px;
                }
            }

            #pregunta02 {
                .btn-option-image {
                    right: 10px;
                    bottom: 15px;

                .option-image-object {
                    width: 5em;
                }
            }

                .btn-option-icon {
                    left: 60px;
                    top: 200px;
                }
            }
    }

    /*
     * Inicio de index.html
     *
    */

    .body-index {

        section {
            text-align: center;
        }

        #productos {
            .ver-productos {
                width: 12.5em; /* 200/16 */
            }
        }

        #contacto {
            background-color: var(--color-gris-opacidad);
            background-image: url('../src/assets/images/background/background-general-mobile.jpg');

            .form-contact {
                @include sizes-w(100%);
            }
        }

        footer {
            nav {
                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    padding-left: 0;

                    li {
                        margin: 0.625em; /* 10/16 */
                        font-size: 1.1em;
                        font-family: var(--fuente-roboto-medium);
                    }
                }
            }

            .copy {
                padding: 1.875em; /* 30/16 */
            }
        }

    }

    /*
     * Fin de index.html
     *
    */


    /*
     * Inicio de home.html
     *
    */

    .body-desaphilip-home,
    .body-galeria-de-stickers {
        background-image: url('../src/assets/images/background/background-home-mobile.jpg');
    }

    .body-desaphilip-home .desaphilip-item-xs {
        justify-content: center;
    }

    .body-desaphilip-home {
        .instrucciones-desktop {
            display: none;
        }

        .desaphilip-item {
            width: 16em;
            padding: 0.2em;
            margin: 0.3em auto;

            .desaphilip-img {
                width: 4.2em;
            }

            .desaphilip-text {
                h2 {
                    font-size: 2em;
                }
            }
        }
    }

    /*
     * Inicio de home.html
     *
    */


    /*
     * Inicio de musica.html
     *
     */

    .body-desaphilip-musica,
    .body-desaphilip-musica-2 {
        background-image: url('../src/assets/images/background/background-musica-mobile.jpg');

    }

    .body-desaphilip-musica {
        @include break-point-tablet(tablet-b){
            .respuesta {
                width: 20em;

            .respuesta-content {
                width: 20em;                
                }
            }
        }

        @include break-point-tablet(tablet-c){
            .respuesta {
                width: 20em;

            .respuesta-content {
                width: 20em;                
                }
            }
        }
    }

    /*
     * Fin de musica.html
     *
     */


    /*
     * Inicio de amistad.html
     *
    */

    .body-desaphilip-amistad,
    .body-desaphilip-amistad-2 {
        background-image: url('../src/assets/images/background/background-amistad-mobile.jpg');
    }

    /*
     * Fin de amistad.html
     *
    */


    /*
     * Inicio de diversion.html
     *
    */

    .body-desaphilip-diversion,
    .body-desaphilip-diversion-2 {
        background-image: url('../src/assets/images/background/background-diversion-mobile.jpg');
    }

    /*
     * Inicio de diversion.html
     *
    */


    /*
     * Inicio de autenticidad.html
     *
    */

    .body-desaphilip-autenticidad,
    .body-desaphilip-autenticidad-2 {
        background-image: url('../src/assets/images/background/background-autenticidad-mobile.jpg');
    }


    /*
     * Fin de autenticidad.html
     *
    */


    /*
     * Inicio de galeria_de_stickers.html
     *
    */

    .body-galeria-de-stickers {
        .galeria-de-stickers {
            .carrousel-de-sticker {
                width: 100%;
            }
        }
    }


    /*
     * Fin de galeria_de_stickers.html
     *
    */

}



/* Tablet Styles */
@media only screen and (min-width: 361px) and (max-width: 1060px) {

    .display-none-tablet {
        display: none;
    }

    .display-block-tablet {
        display: block;
    }

    .menu-principal {
        ul {
            li {

                &:hover ul {
                    @include sizes-w(100%);
                }
            }
        }
    }

    .body-desaphilip {
        .desaphilip {

            margin-top: 6em;

            .desaphilip-titulo-principal, .desaphilip-bajada, .option-text {
                margin-right: .833332em;
                margin-left: .833332em;
            }

            .desaphilip-titulo-principal {
                font-size: 3rem;
            }

            .desaphilip-bajada {
                font-size: 2.5rem;
                padding-bottom: 0.625em; /* 10/16 */
            }

            .option-content {
                width: 100%;;

                .btn-option {
                    width: 15em;
                }
            }

            .btn-option-image {
                right: -45px;
                top: 65px;

                img {
                    width: 60%;
                }
            }

            .btn-option-icon {
                left: 60px;
                top: 80px;
            }        
        }

        footer {

           .footer-content {
                width: 100%;
                margin-top: 0.5em;
                margin-right: 0px;
                margin-left: 0px;

                .btn-footer {
                    width: 9em;

                    .btn-footer-icono{
                        width: 2.1em;
                        height: 2.1em;

                        img {
                            width: 1.5em;
                            padding: 0.1em;
                        }
                    }
                }

                .icono-sombrerero {
                    margin: 0.5em;

                    img {
                        width: 2em;
                    }
                }

                .btn-footer-text {
                    padding-left: 0.9375em;
                    font-size: 1rem;
                }
            }

            #invitarAmigos {

                .modal-content {
                    border-radius: 30px;
                    margin: 30px;

                    .pop-up-footer {
                        border-radius: 20px;
                        padding: 20px;

                        h3 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 3rem;
                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            margin: auto;
                            text-align: center;

                            input {
                                border-radius: 100px;
                                margin: 5px 0px;
                                padding: 6px;
                                text-align: center;
                            }

                            button {
                                width: 10em;
                                border-radius: 100px;
                                margin: 10px auto;
                                padding: 10px;
                            }
                        }
                    }
            }
        }

    #descubrir {

        .modal-dialog {
            max-width: 570px;
            margin: 3rem;

            .modal-content {
                border-radius: 30px;
                position: relative;

                  i.fas.fa-caret-left {
                    position: absolute;
                    color: var(--color-violeta);
                    font-size: 60px;
                    bottom: -28px;
                    right: 0px;
                }

                .pop-up-footer {

                    .slide-content {

                        h4 {
                            font-size: 2rem;
                            margin: 0px;
                        }

                        .desafios-premios {
                            border-radius: 15px;

                            .desafios-premios-content {
                                display: flex;
                                flex-direction: column;

                                .desafios-premios-content-text {
                                    width: 70%;
                                    text-align: center;
                                    margin: 10px;

                                    h5 {
                                        font-size: 2.24rem;
                                        margin: 0px;
                                    }

                                    svg {
                                        width: 6rem;
                                        margin: 0px;
                                    }

                                    p {
                                        font-size: 0.9375em; /* 15/16 */
                                    }
                                }

                                .desafios-premios-content-image {
                                    margin: 10px;

                                    img {
                                        width: 10rem;
                                    }

                                    .premio-completo {
                                        width: 15rem;   
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    }
}

    /*
     * Inicio de index.html
     *
    */


    /*
     * Fin de index.html
     *
    */


    /*
     * Inicio de home.html
     *
    */

    .body-desaphilip-home,
    .body-galeria-de-stickers {
        background-image: url('../src/assets/images/background/background-home-mobile.jpg');
    }

    .desaphilip-item-xs {
        justify-content: center;
    }

    .body-desaphilip-home{
        .instrucciones-desktop {
            @include break-point-tablet(tablet-b){
                display: none;
            }

            .item {
                margin: 1em;
            }
        }

        .pop-de-instrucciones-mobile {
            @include break-point-tablet(tablet-d){
                display: none;
            }
        }

        .pop-de-instrucciones-mobile {
            @include break-point-tablet(tablet-b){
                display: block;
            }
        }
    }



    /*
     * Inicio de home.html
     *
    */



    /*
     * Inicio de musica.html
     *
     */

    .body-desaphilip-musica,
    .body-desaphilip-musica-2 {
        background-image: url('../src/assets/images/background/background-musica-mobile.jpg');
    }

    .body-desaphilip-musica {
        .respuesta {
            width: 20em;

            .respuesta-content {
                width: 20em;                
            }
        }
    }

    /*
     * Fin de musica.html
     *
     */


    /*
     * Inicio de amistad.html
     *
    */

    .body-desaphilip-amistad,
    .body-desaphilip-amistad-2 {
        background-image: url('../src/assets/images/background/background-amistad-mobile.jpg');
    }


    /*
     * Fin de amistad.html
     *
    */


    /*
     * Inicio de diversion.html
     *
    */

    .body-desaphilip-diversion,
    .body-desaphilip-diversion-2 {
        background-image: url('../src/assets/images/background/background-diversion-mobile.jpg');
    }

    /*
     * Inicio de diversion.html
     *
    */


    /*
     * Inicio de autenticidad.html
     *
    */

    .body-desaphilip-autenticidad,
    .body-desaphilip-autenticidad-2 {
        background-image: url('../src/assets/images/background/background-autenticidad-mobile.jpg');
    }


    /*
     * Fin de autenticidad.html
     *
    */





}



/* Desktop Styles */
@media only screen and (min-width: 1061px) {

    .display-none-desktop {
        display: none;
    }

    .display-block-desktop {
        display: block;
    }


    /*
     * Inicio de index.html
     *
    */

    /*
     * Fin de index.html
     *
    */

    /*
     * Inicio de home.html
     *
    */


    /*
     * Inicio de home.html
     *
    */


}

/*
 * #######################
 * #######################
 * #######################
 *   Fin de Media Queries
 * #######################
 * #######################
 * #######################
*/