// @import '../components/root';

/*
 * Inicio de amistad.html
 *
*/

.body-desaphilip-amistad,
.body-desaphilip-amistad-2 {
    background-image: url('../src/assets/images/background/background-amistad-desktop.jpg');
    @extend.body-desaphilip;
}

.active-amistad {
    background-color: var(--color-fucsia) !important;
    outline: var(--color-fucsia);
}

.body-desaphilip-amistad {

    .respuesta {
        @include sizes-w(30%);
        @include margin(1.25em auto); /* 20/16 */
    }

    .respuesta-content {
        @include sizes-w(70%);
        @include margin(auto);
    }

    .respuesta-content {

        input {
            @include padding(0.625em 0em); /* 10/16 */ /* 0/16 */
            @include sizes-w(100%);
            @include margin(auto);
            text-align: center;
        }

        .respuesta-input {
            position: relative;
        }

        .respuesta-icono {
            position: absolute;
            right: 11px;
            top: 5px;
            font-size: 1.5em;
        }
    }
}


/*
 * Fin de amistad.html
 *
*/