// @import '../components/root';

/*
 * Inicio de amistad.html
 *
*/

.body-desaphilip-amistad,
.body-desaphilip-amistad-2 {
    background-image: url('../src/assets/images/background/background-amistad-desktop.jpg');
    @extend.body-desaphilip;
}

.active-amistad {
    background-color: var(--color-fucsia) !important;
    outline: var(--color-fucsia);
}


/*
 * Fin de amistad.html
 *
*/