/*
 * Inicio de galeria_de_stickers.html
 *
 */

.body-galeria-de-stickers {
    .carrousel-de-sticker {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include sizes-w(50%);
        @include margin(auto);

        .sticker {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include margin(0.625em 1.875em); /* 10/16 */ /* 30/16 */
            @include sizes-w(8em);

            img {
                @include sizes-w(8em);
            }
        }
    }

    .btn-descargar {
        @include btn-descargar(8em, 0.625em, flex, center, 6.25em); /* 10/16 */ /* 100/16 */
    }
}

/*
 * Fin de galeria_de_stickers.html
 *
*/