/*
 * Inicio de home.html
 *
*/

.body-desaphilip-home,
.body-galeria-de-stickers {
    background-image: url('../src/assets/images/background/background-home-desktop.jpg');
    @extend.body-desaphilip;
}

.body-desaphilip-home {
    .instrucciones-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        .item {
            display: flex;
            @include margin(1.5625em);
            /* 25/16 */
            align-items: center;
            align-content: center;
        }

        .item-numero {
            position: relative;
            top: 0.09em;
            margin-right: 0.1em;
            font-size: 8.5rem;
        }
    }

    .desaphilip-content {
        @include sizes-w(50%);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include margin(auto);
    }

    .desaphilip-item {
        @include sizes-w(20em);
        display: flex;
        border-radius: 1.0625em;
        padding: 0.625em;
        @include margin(1.25em);
        justify-content: start;
        align-items: center;
        border: 3px solid #fff;
    }

    .desaphilip-image {
        margin-right: 15px;
        margin-left: 15px;
    }

    .desaphilip-img {
        @include sizes-w(5em);
    }

    .desaphilip-text {

        h2 {
            font-size: 45px;
            transform: rotate(-5deg);
        }

        p {
            font-size: 25px;
            transform: rotate(-5deg);
        }
    }

    /*  Iluminacion neon */
    /* .body-desaphilip-home .musica {
        box-shadow: inset 0em 0em 2em 0.3em var(--color-rojo) , 0em 0em 2em 0.3em var(--color-rojo);
    } */
    .musica {
        box-shadow: inset 0em 0em 2em 0.3em var(--color-rojo), inset 0em 0em 1em 0.2em var(--color-rojo), inset 0em 0em 0.5em 0.1em var(--color-rojo), 0em 0em 2em 0.3em var(--color-rojo), 0em 0em 1em 0.2em var(--color-rojo), 0em 0em 0.5em 0.1em var(--color-rojo);
        animation: neon-musica 1.5s infinite alternate; 
    }

    @keyframes neon-musica {
    
        0%, 18%, 22%, 25%, 53%, 57%, 100% {

          box-shadow:
          inset 0em 0em 2em 0.3em var(--color-rojo), inset 0em 0em 1em 0.2em var(--color-rojo), inset 0em 0em 0.5em 0.1em var(--color-rojo), 0em 0em 2em 0.3em var(--color-rojo), 0em 0em 1em 0.2em var(--color-rojo), 0em 0em 0.5em 0.1em var(--color-rojo);
  
        }
  
        20%, 24%, 55% {        
          box-shadow: none;
        }    
    }



    .amistad {
        box-shadow: inset 0em 0em 2em 0.3em var(--color-fucsia), 0em 0em 2em 0.3em var(--color-fucsia);
        animation: neon-amistad 1.5s infinite alternate; 
    }

    @keyframes neon-amistad {
    
        0%, 18%, 22%, 25%, 53%, 57%, 100% {

          box-shadow:inset 0em 0em 2em 0.3em var(--color-fucsia), 0em 0em 2em 0.3em var(--color-fucsia)
  
        }
  
        30%, 34%, 65% {        
          box-shadow: none;
        }    
    }

    .diversion {
        box-shadow: inset 0em 0em 2em 0.3em var(--color-azul), 0em 0em 2em 0.3em var(--color-azul);
        animation: neon-diversion 1.5s infinite alternate;
    }

    @keyframes neon-diversion {
    
        0%, 18%, 22%, 25%, 53%, 57%, 100% {

          box-shadow: inset 0em 0em 2em 0.3em var(--color-azul), 0em 0em 2em 0.3em var(--color-azul);
  
        }
  
        30%, 34%, 65% {        
          box-shadow: none;
        }    
    }

    .autenticidad {
        box-shadow: inset 0em 0em 2em 0.3em var(--color-amarillo), 0em 0em 2em 0.3em var(--color-amarillo);
        animation: neon-autenticidad 1.5s infinite alternate;
    }

    @keyframes neon-autenticidad {
    
        0%, 18%, 22%, 25%, 53%, 57%, 100% {

          box-shadow: inset 0em 0em 2em 0.3em var(--color-amarillo), 0em 0em 2em 0.3em var(--color-amarillo);
  
        }
  
        25%, 29%, 59% {        
          box-shadow: none;
        }    
    }

}

/*
 * Fin de home.html
 *
*/